.Navbar{
    min-width: 300px;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16pt;
    section li a {
      text-decoration: none;
      color: #000;
    
    }
    &-lista{
  
     li{
      display: inline-block;
      margin-right: 10px; /* Adjust the spacing between menu items */
      a{
      padding: 5px 5.5px;
  
      }
      li:last-child {
        margin-right: 0;
      }
     }
    }
  }
  li,a{
    list-style-type: none;
    text-decoration: none;
  }
  