@font-face {
  font-family: 'Montserrat Light';
  src: url('/font/Montserrat-Light.ttf');
}

@font-face {
  font-family: 'Montserrat Medium';
  src: url('/font/Montserrat-Medium.ttf');
}
 
$border: black;
$white-smoke: #F5f5f5;
$lineColor: rgba(49, 49, 49, 0.795);
$post-it-purple:#c7003f;
$post-it-pink:#f90050;
$post-it-blue:#8dbdebab;
$post-it-yellow:	#f2cd4f;
$post-it-green:#88eed0;
$posit-it-lovely:#fe6763;
$transition: all 0.4s ease;
:root {
  --paperColor: #ffc;
  --lineColor: rgba(0, 0, 0, .3);
  --lineSpacing: 2rem;
  --lineHeight: 1px;
  --dashWidth: 1px;
  --dashGutter: 1px;
}


* {
  box-sizing: border-box;
}

body,
html {
  //background-color: $white-smoke ;
  z-index: 0;
}

.App {
  transition: all 1s ease-out;
  margin: 0 Auto;
  text-align: center;
  &-theme{
    position: relative;
  }
  .App-note-tema-1.hover{
    transform: translate(19px,0);
    //transition: all 0.2s ease;
    width:45px;
  }
  .App-note-tema-2.hover{
    transform: translate(19px,0);
   // transition: all 0.2s ease;
    width:45px;
  }
  .App-note-tema-3.hover{
    transform: translate(19px,0);
    //transition: all 0.2s ease;
    width:45px;
  }
  .App-note-tema-4.hover{
    transform: translate(19px,0);
   // transition: all 0.2s ease;
    width:45px;
  }
  .App-note-tema-5.hover{
    transform: translate(19px,0);
    //transition: all 0.2s ease;
    width:45px;
  }
  .App-note-tema-6.hover{
    transform: translate(19px,0);
    //transition: all 0.2s ease;
    width:45px;
  }
  &-note-tema{
    display: block;
    content: '';
    z-index:0;
    position:absolute;
    left:-305pt;
    right: 0px;
    margin: 0 auto;
    width:35px;
    transform: translate(22px,0);
    transition: $transition;
    height: 30px;
    background-color: rgba(162, 0, 255, 0.466);
    border: 1px solid ;
  }
  &-note-tema-1{
  background-color: $post-it-purple;
} &-note-tema-1.hover{
  background-color: $post-it-purple;
}
&-note-tema-2{
  height: 30px;
  top: 43px;
  background-color: $post-it-pink;
}
&-note-tema-3{
  top: 76px;
  background-color: $post-it-blue;
}
&-note-tema-4{
  top:109px;
  background-color: $post-it-yellow;
}
&-note-tema-5{
  background-color: $post-it-green;
  top: 142px;
}
&-note-tema-6{
  top: 175px;
  background-color: $posit-it-lovely;
  z-index: 2;
  }
  &-note {
    display: block;
    margin: 0 Auto;
    min-width: 335px;
    max-width: 335px;
    background-color: var(--paperColor);
  }
  &-inptext {
    font-family: 'Montserrat Medium';
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-indent: 1em;
    text-align: center;
    outline: none;
    min-width: 329px;
    max-width: 329px;
    font-size: 15pt;
    font-weight: 100;
    background-color: var(--paperColor);
    background-image: linear-gradient(to bottom, var(--lineColor) var(--lineHeight), transparent 1px);
    background-size: 1px var(--lineSpacing);
    border: 2px dashed var(--lineColor);
    border-bottom: none;
  }

  &-inpdate {
    outline: none;
    min-width: 259px;
    text-align: center;
  }

  //Database da onde eu tirei o efeito https://codepen.io/df/pen/YLpxRJ
  &-effectpage {
    display: inline-block;
    background-color: var(--paperColor);
    background-image: linear-gradient(to bottom, var(--lineColor) var(--lineHeight), transparent 1px);
    background-size: 2px var(--lineSpacing);
    border-bottom: 2px dashed var(--lineColor);
  }

  textarea {
    font-family: 'Montserrat Light';
    min-width: 329px;
    max-width: 300px;
    min-height: 160px;
    outline: none;
    font-size: 14pt;
    text-align: left;
    word-wrap: break-word;
    text-indent: 2em;
    line-height: var(--lineSpacing);
    background-color: transparent;
    background-image: linear-gradient(to left, var(--paperColor) var(--dashGutter), transparent var(--dashGutter));
    background-size: calc(var(--dashGutter) + var(--dashWidth));
    border-left: 2px dashed var(--lineColor);
    border-right: 2px dashed var(--lineColor);
    border-top: 2px dashed var(--lineColor);
    margin: -3px 0px;
    border-bottom: none;
  }
.draggable{
  position: relative;
}
  &-Function {
    background-color: var(--paperColor);
    position: absolute;
  }

  button {
    .App button hover {
      transform: scale(3);
    }

    font-size: 12px;
    font-family: 'Montserrat Medium';
    background-color: var(--paperColor);
    padding: 6px 12.3px;
    margin-left: 2px;
    border-bottom: 2px dashed var(--lineColor);
    position: absolute;
    border-top: none;
    border-right: 2px dashed var(--lineColor);
    border-left: none;
    color: $lineColor;
    cursor:pointer;
    bottom: 0;
    top: 0;
    display: flex;
    right: -73px;

  }

  &-card {
    &-title{
      .App-card-copy{
        opacity: 0;
      
      }
      &:hover{
        .App-card-copy{
          opacity:1;
          cursor: pointer;
        }
      }
    }
    
    &:hover {
      -webkit-transform: rotate(1deg);
    -moz-transform: rotate(1deg);
    -o-transform: rotate(1deg);
    -ms-transform: rotate(1deg);

    transform: rotate(1deg)scale(1.05);
    }
    top: 30px;
    border: 2px dashed #f5f5f5;
    padding: 15px 15px;
    margin-left: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: pre-wrap;
    max-width: 300px;
    margin-top: 10px;
    -webkit-transform: rotate(1.6deg);
    -moz-transform: rotate(1.6deg);
    -o-transform: rotate(1.6deg);
    -ms-transform: rotate(1.6deg);
    transform: rotate(1.6deg);
    box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
   // transition: all 1s ease;
    p,
    h4 {
      max-width: 300px;
      word-wrap: break-word;
    }

    p {
      font-family: 'Montserrat Light';

    }

    h4 {
      font-family: 'Montserrat Medium';
      
    }

    &-title:first-letter ,p{
      text-transform: capitalize;
    }

    b {
      position: absolute;
      right: 0;
      cursor: pointer;
    }
    x{
      position: absolute;
      
      cursor: pointer;
      left: 0;
      color: $lineColor;
    }
  }
}

.Flex {
  padding:21px 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto;
  max-width: 800px;
  animation: my-animation 1s ease;
}

@keyframes my-animation {
  0% {
    transform: scale(1.01);
  }
  20% {
    transform: scale(1.01);
  }
  60% {
    transform: scale(1.01);
  }
  100% {
    transform: scale(1.01);
  }
}
 
input[type="date"] {
  background-color: var(--paperColor);
  color: var(--lineColor);
  font-size: 16pt;
  border-bottom: 2px dashed;
  border-left: 2px dashed;
  border-top: none;
  border-right: none;
  position: relative;
  left: 3px;
  z-index: 1;
}


input[type="date"]::-webkit-calendar-picker-indicator {
  background-color: var(--paperColor);
  color: var(--lineColor);
}
.padrao{
  background :#f0e9a0;
}

.post-it-purple{
  background-color: $post-it-purple;
}.post-it-pink{background-color: $post-it-pink;}
.post-it-blue{background-color: $post-it-blue;}.post-it-yellow{background-color: $post-it-yellow;}.post-it-green{background-color:$post-it-green ;}.posit-it-lovely{background-color:$posit-it-lovely ;}
.pos{
  position: absolute;
}